name: Build
on:
  workflow_dispatch: # 保留手动触发按钮，但不要求输入内容了

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 11
        cache: gradle
    - run: |
        chmod +x ./gradlew
        # 移除了那两行 sed 替换指令，现在只是单纯地打包
        ./gradlew :module:assembleRelease
    - uses: actions/upload-artifact@v4
      with:
        name: zygisk-il2cppdumper
        path: out/magisk_module_release/
